name: Android CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25c

      - name: Fetch MagiskBoot Binary
        run: |
          mkdir -p app/src/main/assets/
          # 自动从 Magisk 官方源下载 arm64 版本的二进制工具
          curl -L https://raw.githubusercontent.com/topjohnwu/magisk-files/master/magiskboot -o app/src/main/assets/magiskboot

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '9.2.1'

      - name: Build with Gradle
        run: |
          gradle wrapper --gradle-version 9.2.1
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Nexus-Manager-Build
          path: app/build/outputs/apk/debug/com.nexus.kernel.manager.apk