      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Wrapper and Gradlew
        run: |
          # 使用系统自带的 gradle 临时生成官方 gradlew 脚本
          gradle wrapper --gradle-version 8.2
          chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug